/* Aquí van tus estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  background-color: grey;
}
.app {
  color: white;
  font-size: 2.5rem;
  background-color: grey;

  .header {
    background-image: url('../components/images/harry-potter-logo-transparent-background-19.png');
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    @media all and (min-width: 760px) {
      background-size: 500px;
    }
  }
  .form {
    display: grid;
    grid-template-columns: 140px 165px;
    justify-content: center;
    align-items: center;

    @media all and (min-width: 760px) {
      display: grid;
      grid-template-columns: 200px 300px;
      justify-content: center;
      align-items: left;
    }
    &_label {
      color: white;
      font-size: 1.5rem;
      padding: 5px 5px;
      text-align: center;
      align-items: end;
      @media all and (min-width: 760px) {
        color: white;
        font-size: 2rem;
        padding: 10px 10px;
        text-align: left;
      }
    }
    &_s {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;

      color: black;
      margin: 6px;
      border: solid goldenrod;
      background-color: lightgray;
    }
    @media all and (min-width: 760px) {
      font-size: 1rem;
      font-weight: normal;
      margin: 5px;
      text-align: center;
    }
  }
  .list {
    display: flex;
    justify-content: center;
    .link {
      text-decoration: none;
    }
    .profile {
      padding: 6rem;
      display: flex;
      flex-flow: row wrap;

      &_card {
        width: 200px;
        height: 310px;
        margin: 0.5rem;
        padding: 10px;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        border: solid goldenrod;
        text-decoration: none;
        &_img {
          height: 190px;
          width: 150px;
        }
        &_text {
          color: black;
          text-decoration: none;
          text-align: center;
          font-family: 'Almendra SC', serif;
        }
      }
    }
  }
  .body-detail {
    background-color: grey;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .detail {
      align-items: end;
      position: absolute;
      background-color: grey;

      &_button {
        margin: 1rem;
        background-color: white;
        font-size: 1rem;
        border-radius: 4rem;
        width: 5.5rem;
        position: relative;
        left: 29rem;
        @media all and (min-width: 760px) {
          margin: rem;
          font-size: 1.5rem;
          border-radius: 4rem;
          width: 8rem;
          text-align: center;
          justify-content: center;
          position: relative;
          left: 39rem;
        }
      }
    }
    .detail_card {
      font-family: 'Almendra SC', serif;
      width: 330px;
      height: 240px;
      margin: 0 3rem;
      padding: 10px;
      font-size: 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-content: center;

      border: solid goldenrod;
      text-decoration: none;
      background-color: #330000;
      @media all and (min-width: 760px) {
        margin: 1rem 4rem;
        padding: 10px;
        width: 460px;
        height: 300px;
        font-size: 2rem;
      }

      &_img {
        height: 190px;
        width: 125px;

        top: 20px;
        @media all and (min-width: 760px) {
          height: 230px;
          width: 180px;
          padding-right: 2rem;
        }
      }
      .detail_card_section {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        &_n {
          color: white;
          word-spacing: 1rem;
          font-size: 1.8rem;
          font-family: 'Almendra SC', serif;
          @media all and (min-width: 760px) {
            font-size: 2.8rem;
          }
        }
        &_a {
          color: white;
          word-spacing: 1rem;
          font-family: 'Almendra SC', serif;
          &_heart {
            font-size: 2rem;
            margin: 0 2px;
          }
        }

        &_p {
          color: white;
          word-spacing: 1rem;
          font-family: 'Almendra SC', serif;
        }
      }
    }
  }
}
